
.searchBox > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 8px 10px;
    border-radius: 15px;
    width: 55%;
    outline: none;
    font: 300 1.1vmax cursive;
    box-sizing: border-box;
    height: 8%;
  }
  
  .searchBox > input[type="submit"] {
    height: 8%;
    margin: 0px 5px;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    width: max-content;
    border: none;
    font: 300 1.1vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.5s;
  }
  
  .searchBox > input[type="submit"]:hover {
    background-color: rgb(11, 32, 90);
  }
  
  @media screen and (max-width: 600px) {
    .searchBox > input[type="text"] {
      
      font: 300 1.7vw cursive;
      height: 10%;
    }
  
    .searchBox > input[type="submit"] {
      height: 10%;
      font: 300 2vw "Roboto";
    }
  }