.dashboard {
  width: 100vw;
  max-width: 100%;
  display: flex;
  gap: 7px;
  position: absolute;
}

.dashboardContainer {
  width: 84vw;
  padding: 3rem 0;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    overflow-y:auto;
}

.dashboardContainer > .bar{
  height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}
.bar > svg {
  font-size: 1.2rem;
  opacity: 0.7;
}
.bar > input {
  margin-right: auto;
  padding: 1rem 0;
  border: none;
  background-color: inherit;
  width: 100%;
  outline: none;
}
.dashboardContainer > .graphCharts {
  display: flex;
  padding: 16px;
  margin-bottom: 50px;
  border-radius: 10px;
  gap: 10px;
}
.graphCharts > .lineChart{
  width: 65%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lineChart > h2{
  
  letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 1.5rem 0 2rem 0;
    text-align: center;

}
.doughnutChart > h2{
  
  letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 1.5rem 0 2rem 0;
    text-align: center;

}
.dashboardContainer > .graphCharts1{

  width: 100%;
    display: grid;
    justify-content: center;
    align-items: unset;
    gap: 0;
    padding-bottom: 2rem;
}
.graphCharts > .doughnutChart{
  width: 35%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graphCharts1 > div > .category-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.category-item > h5 {
  letter-spacing: 4px;
    font-weight: 400;
    font-size: 15px;
}
.category-item > div {
  margin-left: auto;
  width: 15rem;
  background-color: rgb(217, 217, 217);
  border-radius: 20px;
  height: 0.5rem;
  flex: none;
}
.category-item > div > div {
  border-radius: 20px;
  height: 100%;
}
.category-item > span {
  font-size: 1.2rem;
  font-weight: 700;
}
.graphCharts1 > h2{
  letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}

.dashboardContainer > .widget-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem 2rem 2rem 0;
    margin: 2px 10px;
}
.widget-container > .widget {
  width: 16rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
}
.widget > .widget-info p {
  opacity: 0.7;
  font-size: 0.8rem;
}
.widget-info h4 {
  font-size: 1.5rem;
}
.widget-info span {
  display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 0.2rem;
}
.widget > .widget-circle {
  position: relative;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    flex: none;
    display: grid;
    place-items: center;
    background-color: aquamarine;

}
.widget-circle::before {
  content: "";
    position: absolute;
    height: 4rem;
    width: 4rem;
    background-color: white;
    border-radius: 100%;

}
.widget-circle > span {
  position: relative;
}


@media screen and (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboardContainer {
    border-left: none;
  }
  .dashboardContainer >.graphCharts{
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .dashboardContainer >.graphCharts{
    flex-direction: column;
  }
  .graphCharts > .lineChart{
      width: 100%;
  }
  .graphCharts > .doughnutChart{
    width: 100%;
}
}
