.productListContainer {
  background-color: white;
    padding: 2rem;
    overflow: auto;
    height: 100%;
    width: 100%;

}

#productListHeading {
  font: 700 2.5rem "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: black;
  transition: all 0.5s;
  margin: 2rem;
  text-align: center;
}

.productListTable {
  border: none !important;
}

.productListTable div {
  font: 400 1.4vmax "Roboto";
    color: black;
    border: none !important;
    border-collapse: collapse;
}

.productListTable a,
.productListTable button {
  color: black;
  transition: all 0.5s;
}

.productListTable a:hover {
  color: rgb(34, 15, 159);
}

.productListTable button:hover {
  color: rgb(34, 15, 159);
}

.MuiDataGrid-columnHeader div {
  color: rgb(9, 2, 2);
  font: 701 1.6vmax "Roboto" !important;
}
@media screen and (max-width: 600px) {
  .productListTable div {
    font: 300 4vw "Roboto";
  }
}
